.input-filed input[type=text]:focus {
    border-bottom: 1px solid rgba(128, 128, 128, 0.048)  !important;
    box-shadow: 0 1px 0 0 rgba(128, 128, 128, 0.027)   !important;
}


.uploads{
    display:flex;
    flex-wrap: wrap;;
    justify-content: space-around;
}

.pic{
    width:30%;
}
